<!DOCTYPE html>
<!-- Bootstrap Form sample from W3Schools -->
<html lang="tr">
<head>
  <title>Ensemble Voting Classifier For PV Fault Predictor</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>


  <h2>Ensemble Voting Classifier For PV Fault Predictor</h2>

<h2>Test it!</h2>
<p> Try out prediction: pv-fault-predictor.herokuapp.com/predict/Vstr(V)-Istr(mA)-Pstr(mW)-G(W/m2)-Tm(&deg;C) <br>
  After that you can see the json result for the prediction. <br>
  Total number of samples: 284</p>

<p>1. Case:0  <p>
<a href="https://pv-fault-predictor.herokuapp.com/predict/30.1820-496.2220-14974.4190-944.73-54.00" target="_blank">
https://pv-fault-predictor.herokuapp.com/predict/30.1820-496.2220-14974.4190-944.73-54.00
</a>

</body>
</html>
